<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pet.name %>
</p>

<p>
  <b>Description:</b>
  <%= @pet.description %>
</p>

<p>
  <b>Image:</b>
  <%=video_tag @pet.image %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
